/*
Theme Name: Renegade Master Theme
Theme URI: http://rm-times.com/
Author: the Renegade Master team
Author URI: http://rm-times.com/about/
Description: The 2013 theme for WordPress
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: rm-times

*/


/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 *   4.1 - Site Header
 *   4.2 - Navigation
 * 5.0 - Content
 *   5.1 - Entry Header
 *   5.2 - Entry Meta
 *   5.3 - Entry Content
 *   5.4 - Galleries
 *   5.5 - Post Formats
 *   5.6 - Attachments
 *   5.7 - Post/Paging Navigation
 *   5.8 - Author Bio
 *   5.9 - Archives
 *   5.10 - Search Results/No posts
 *   5.11 - 404
 *   5.12 - Comments
 *   5.13 - Multisite
 * 6.0 - Sidebar
 *   6.1 - Widgets
 * 7.0 - Footer
 * 8.0 - Media Queries
 * 9.0 - Print
 * ----------------------------------------------------------------------------
 */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
    font-family: "Arimo", arial, verdana, sans-serif;
    font-weight:normal;
}

thead th,
tbody th{
    font-family: "Arimo", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
    font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
    font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
    font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
    margin:0;
    padding:0 0 0 0;
    color:#000;
    background:#efefef url(css/img/gray_jean.png);
    font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
    text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

#wrap{
    width:100%;
    background:#fff;
    margin:30px auto 30px auto;
    padding:0 2%;
    border:1px solid #ccc;
}

#footer{
    text-align:center;
    padding:20px;
    margin:0;
    border-top:1px solid #ddd;
    color:#999;
    font-size:0.8em;
    text-shadow:0px 1px 1px #fff;
    position: relative;
    top:0;
    left:0;
    background:#fff;
}

#link-top{
    display:none;
}

/* NAV BAR*/
.navbar{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background:#000;
    color:#fff;
    z-index:1000;
}

.navbar #logo{
    position:absolute;
    top:0;
    right:0;
    padding:0.5em 1em;
    font-size: 1.7em;
    color:#efefef;
    text-decoration:none;
}

.navbar span{
    color:#86dc00;
}

.navbar ul{
    display:inline-block;
    margin:0;
    padding:0;
}

.navbar li{
    margin:0;
    padding:0;
    list-style-type:0;
    display:inline-block;
}

.navbar li a{
    display:inline-block;
    color:#efefef;
    padding:1em 1.3em;
    text-decoration:none;
    text-transform: uppercase;
    line-height:100%;
    font-size: 1.2em;
}

.callout{
    background:#4598ef;/*#86dc00;*/
    padding:3em 0;
    color:#fff;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    text-shadow:0px 1px 3px rgba(0,0,0,0.2);
    display:block;
}
.callout + div.grid{margin-top:50px;}
a.callout{cursor:pointer;}
.callout i.icon-4x{font-size:6em;}
.callout h4{margin-bottom:30px;}
.callout-top{margin:50px 0 0 0;}
.callout p{margin-bottom:0;}
.callout .button{margin-top:10px;}
.callout.green{background:#19ad0b;/*#86dc00;*/}

#mc_embed_signup{
    padding:30px 0;
}

#ui-preview{
    border:5px solid #ddd;
    margin:30px 0;
    display:block;
}
